body {
    font-family: 'Montserrat', sans-serif;

}

.categories {
    padding: 24px;
    max-width: 440px;
    border: 2px solid lightgrey;
    border-radius: 4px;
    list-style: none;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.item {
    background-color: #F6F6FE;
    padding: 16px;
    border-radius: 4px;
}

.item-title {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.sublist {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.sublist-item {
    border: 1px solid #808080;
    border-radius: 4px;
    padding: 8px 16px;
    
    width: 100%;
}